@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*Обнуление*/
body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal; }
  body .page-light {
    background-color: #f9f6f1; }
  body .page-dark {
    background-color: #212121; }
  body .container {
    width: 1130px;
    margin: 0 auto;
    padding: 0 10px; }
  body .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 126px;
    padding-top: 40px; }
    body .header .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body .header .nav_item {
        margin-right: 52px; }
        body .header .nav_item:last-child {
          margin-right: 0; }
      body .header .nav_link {
        color: black;
        font-weight: 500; }
    body .header .cart {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      body .header .cart .cart_cart {
        background: url(../images/cart.svg) no-repeat 0 center;
        width: 30px;
        height: 30px; }
      body .header .cart .cart_count {
        background-color: #d7b399;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        padding-left: 12px;
        padding-right: 10px;
        height: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative; }
        body .header .cart .cart_count::after {
          content: "";
          position: absolute;
          display: block;
          right: 100%;
          border-top: 8px solid transparent;
          border-right: 16px solid #d7b399;
          border-bottom: 8px solid transparent; }
  body .btn {
    background-color: #d7b399;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 18px 28px; }
  body .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    body .main_item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
    body .main .sale_subtitle {
      font-size: 30px;
      margin-top: 25px; }
    body .main .sale_title {
      font-size: 55px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 65px; }
  body .products {
    position: relative;
    margin-bottom: 130px; }
    body .products_price {
      position: absolute;
      right: 0;
      top: 35px;
      text-align: right; }
      body .products_price-old {
        font-size: 24px;
        font-weight: 700; }
      body .products_price-new {
        font-size: 42px;
        font-weight: 700;
        color: #d84033;
        margin-top: 17px; }
  body .info {
    text-align: center;
    color: #fff;
    padding: 80px 0 70px; }
    body .info_title {
      font-size: 30px;
      text-transform: uppercase; }
      body .info_title span {
        font-weight: 700; }
    body .info_subtitle {
      font-size: 21px;
      font-weight: 300;
      padding-top: 20px; }
