@import "null.scss";

body {
  background-color: #2e2e22;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;

  .container {
    width: 1130px;
    margin: 0 auto;
    padding: 0 10px;
  }

  
}
